/* body */
body {
  background: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  overflow-x: hidden;
  text-align: center;
  font-size: 14px;
}

h1{
font-size: 18px;
border-bottom: solid 3px #bbe5e1;
text-align: left;
margin: 10% 5% 3% 5%;
}

h2{
font-size: 16px;
text-align: left;
margin: 8% 5% 5% 5%;
}

h3, h4 {
font-size: 14px;
text-align: left;
font-weight: bold;
margin: 2% 5% 0% 5%;
}

.less-margin-top{
margin-top: 1%;
}

/*font decoration*/
.bold {
font-weight: bold;
}

.bold-big {
font-size: 16px;
font-weight: bold;
border-bottom: solid 2px #bbe5e1;
}

#space {
margin: 3% 0% 3% 0%;
}

#underline {
text-decoration: underline;
}

.underline {
text-decoration: underline;
}

.underline-pink {
border-bottom: solid 2px #eb9f95;
}

#advice-box{
font-size: 16px;
text-align: left;
color:#ffffff;
background-color: #28407e;
margin: 2% 8% 5% 8%;
padding: 3% 3% 3% 3%;
}

.green{
color:#00bfa8;
margin-top:3%;
}

.blue{
color: #2046f1;
}

/* text alighnment */
.left {
text-align: left;
}

#center{
text-align: center;
/*margin-right: auto;
margin-left: auto;*/
}

#center-img{
margin-right:auto;
margin-left:auto;
display: block;
}

.bottle-neck p{
text-align: left;
margin: 16px 0% 2% 0%;
}

/* space adjustment */
.container {
margin-right: auto;
margin-left: auto;
padding: 0px;
width: 95%;
}

p{
margin: 16px;
}

.advice p{
text-align: left;
margin: 2% 5% 2% 5%;
}

.format p{
text-align: left;
margin: 5% 5% 5% 5%;
}

.bot-sp{
margin-top: 2%;
margin-bottom: 2%;
}

.bot-sp, .exp > p {
margin-top: 1%;
margin-bottom: 1%;
}

.prepare{
margin-bottom: 5%;
}

@media (min-width: 375px){
.questions a {
  margin: 1.7%;
}
}

.bottle-neck{
margin: 0% 10% 0% 10%;
}

@media (min-width:768px){
.bot-sp, #exp > p {
  margin-top: 4%;
}
.recommend >p {
  margin-top: 1%;
}
}

.exp  {
margin: 0% 5% 5% 5%;
}

#advice{
text-align: center;
margin: auto;
}

.about, .me {
text-align: left;
margin: 5%;
}



.about h1, .me h1{
margin: 10% 0% 3% 0%;
}

.about h2, .me h2{
margin: 8% 0% 5% 0%;
}

@media (min-width:768px){
.about h2, .me h2 {
  margin: 4% 0% 2% 0%;
}
}

@media (min-width:1200px){
.about, .me {
  text-align: left;
  margin: 5% 10% 5% 10%;
}
.bot-sp, .exp > p {
margin-top: 3%;
}

.format > p{
margin: 3% 5% 1% 5%;
}
}



/* link */
a{
display:block;
color: #ffffff;
background-color: #28407e;
text-align: center;
border-radius: 35px;
text-decoration: none;
padding: 2%;
margin: 3%;
}

.navbar-light .navbar-nav .nav-link{
color:#28407e;
}

#top, #about, #me, #tips {
background-color: transparent;
/*margin:0;*/
padding:0;
}

#top{
margin-right:auto;
margin-left:auto;
margin-bottom: 0%;
}

a:hover {
color:#ffffff;
background-color: #28bca9;
text-decoration: none;
}

.no-deco{
display: inline-block;
text-align: left;
color: #000000;
font-weight: bold;
background-color: transparent;
border-radius: 0px;
padding: 0%;
margin: 0%;
}

.download{
background-color:#eb9f95;
}

a.no-deco:hover{
color: #eb9f95;
text-decoration: none;
background-color: transparent;
}


#more a, #pro-tips a{
margin: 1% auto 2% auto;
width:220px;
padding: 1%
}

.download
{
margin: 1% auto 2% auto;
width:250px;
padding: 1%
}

#back a{
text-align: center;
width:100px;
margin: 1% auto 1% auto;
padding: 1%;
}

#bk-top a{
width: 30%;
margin: 5% auto 5% auto;
}

#link-home a{
text-align: center;
color: #28407e;
background-color: transparent;
border-radius: 0px;
font-size: 8px;
margin: 1%;
padding: 0%;
}

#link-home img, #ig img{
width: 32px;
}

.bot-mar {
margin-bottom: 3%;
}

/*table*/

#sound {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 80%;
margin-right: auto;
margin-left: auto;
}

#sound td, #sound th {
text-align:center;
border: 1px solid #ddd;
padding: 8px;
}

#sound tr:nth-child(even){
background-color: #f2f2f2;
}

#sound tr:hover {
background-color: #ddd;
}

#sound th {
padding-top: 12px;
padding-bottom: 12px;
background-color: #00bfa8;
color: white;
}

/* fotter*/
footer {
margin: 3% 0% 0% 0%;
padding-bottom: 2%;
}

/* images */

.resize img, .prepare img{
width: 200px;
}

.resize-title img{
width: 250px;
margin-right: auto;
}



#nav-logo img{
  width: 200px;
}

.left img{
text-align: left;
}

.bottle-neck img{
margin:2%;
width: 40px;
}

#thum{
margin-left: auto;
margin-right: auto;
margin-bottom:2%;
border-radius: 50%;
width: 100px;
display: block;

}

/*nav bar*/

.navbar-nav li a {
color: #666;
background-color: #ffffff;
font-size: 14px;
font-weight: 400;
letter-spacing: 1px;
text-transform: uppercase;
line-height: 20px;
transition: all 0.4s ease-in-out;
margin: 2%;
}

ul {
list-style: none;
}

.navbar-header {
background-color:#ffffff;
border-color: #ffffff;
}

.navbar-inverse .navbar-toggle {
border-color: #ffffff;
}

.navbar-inverse {
background-color: #ffffff;
border-color: #ffffff;
}


#nav-logo a{
text-align: left;
background-color: transparent;
border-radius: 0px;
padding: 1%;
margin: 0%;
}

.navbar-nav{
background-color:rgb(235, 230, 224);
padding:2% 2% 2% 2%;
}

@media (min-width:540px){
.navbar-nav{
  padding:3%;
  }

  .navbar-nav li a{
  margin:1.2%;
}

.bottle-neck img {
  margin: 0% auto 2% auto ;
}
}

@media (min-width:768px){
.navbar-nav{
width:50%;
margin-left:auto;
margin-right:0!important;
padding:1% 3% 1% 3%;
}
}

/* Responsive Design */
@media (max-width: 374px){
.intro{
  font-size: 12px;
}
}

@media (min-width: 580px){
p{
  margin: 1%;
}
.prepare img{
  width: 320px;
}
}

@media (min-width: 768px){
body {
  font-size: 18px;
}

.bold-big {
  font-size: 22px;
  font-weight: bold;
  margin: 2px 2px 1% 2px;
}

h1{
  font-size: 24px;
  border-bottom: solid 3px #bbe5e1;
  margin: 5% 5% 3% 5%;
}

h2{
  font-size: 22px;
  margin: 5% 5% 0% 5%;
}

h3, h4 {
  font-size: 18px;
  margin: 5% 5% 0% 5%;
}

.level h4{
  margin-top: 1%;
}

#advice-box{
  font-size: 22px;
  margin: 2% 8% 5% 8%;
  padding: 3% 5% 3% 5%;
}

#space {
  margin: 2% 0% 2% 0%;
}

.container {
  width: 90%;
}

.intro p{
  margin:2%;
}

a{
  padding: 2%;
  margin: 1% 0.5% 1% 0.5%;
}

#more a, #pro-tips a{
  margin: 1% auto 1.5% auto;
  width:350px;
}

.questions a{
  width: 72%;
  padding: 2%;
  margin: 0% 14% 2% 14%;
}

.resize-title img{
  width: 450px;
}

.resize img{
  width: 300px;
  margin-bottom: 2%;
}

.resize{
  padding-right: 1px;
  padding-left: 1px;
}

.prepare img{
  width: 380px;
  margin: 5%;
}

#nav-logo img{
  width: 250px;
}

.bottle-neck img{
  width: 60px;
}

#link-home img, #ig img{
  width: 45px;
}

.resize-title img{
  margin-top: 0%;
}
}

@media (min-width: 992px){
.container {
    width: 70%;
}

.exp > .container {
  width: 90%;
}

a{
  padding: 1%;
  margin: 1% 0.5% 2% 0.5%;
  border-radius: 35px;
}

.questions a{
  width: 100%;
  margin: 0% 2.5% 4% 2.5%;
}

.col-lg-6-left{
  text-align: left;
}

.col-lg-6-right{
  text-align: right;
}

.navbar-expand-lg .navbar-nav {
margin: 0 0 0 auto!important;
}

.navbar-nav li a {
font-size: 18px;
}

.navbar-nav{
  background-color: transparent;
  width: auto;
}

.intro p{
  margin:1%;
}
}

@media (min-width: 1024px){
#advice-box{
  font-size: 24px;
  text-align: left;
  margin: 2% 10% 5% 10%;
  padding: 3% 10% 3% 10%;
}
}

@media (min-width: 1200px){
.container {
    width: 70%;
}

.follow-up-q .container{
  width: 60%;
}

#more a, #back a, #pro-tips a{
  padding: 0.5%;
}

#bk-top a{
  width: 20%;
  margin: 5% auto 5% auto;
}

#nav-logo img{
  width: 250px;
}

.resize img{
  width: 360px;
}
.bottle-neck img{
  width: 60px;
}

#link-home img, #ig img{
  width: 45px;
}

#thum{
  width: 150px;
}

.navbar{
  padding-top: 0%;
  padding-bottom: 0%;
}

}

@media (min-width:1280px){
#advice-box{
  font-size: 26px;
  text-align: left;
  margin: 2% 15% 5% 15%;
  padding: 3% 7% 3% 7%;
}

.bot-sp {
  padding: 1% 0% 1% 0%;
}
}

@media (min-width:1400px){
h3, h4 {
  margin: 2% 5% 0% 5%;
}

.level h4{
  margin-top: 1%;
}

/* .navbar-nav li a {
  font-size: 24px;
  }*/
}

@media (min-width:1500px){
.bottle-neck #space p{
  margin-left: 15%;
}
}



.openbox input {
display: none; /* チェックボックスを隠す */
}
.openbox .boxshow {
height: 0;
opacity: 0; /* 折り畳んだ時に中を透明にする */
display: none;/* 閉じた時に中身の要素をなくす */
text-align: left;
margin: 2% 5% 2% 5%;
padding: 1%;
background-color: rgba(233, 233, 233, 0.842);
}
.inputcss:checked + .boxshow {
height: auto;
opacity: 1; /*クリックやタップで中を表示させる*/
display: block;/* 折り畳みになるように */
}
.openbox label {
background: #28bca9;
color:#ffffff;
padding: 5px 10px;
text-align: center;
margin: 1% 3% 2% 3%;
}

.openbox-navy label {
background: #28407e;
}